
body {
    margin: 0;
    font-size: 1em;
    font-family: 'Tahoma', sans-serif;
}

.v-splitter {
    border-left: 1px grey solid;
    border-right: 1px white solid;
    margin: 0 4px;
}
.h-splitter {
    border-top: 1px grey solid;
    border-bottom: 1px white solid;
    margin: 0 0;
}

main .window-body {
    overflow: auto;
    height: calc(100% - 44px);
    margin: 0;
}

main .window {
    width: 960px;
    margin: auto;
}

main .window-body .navbar .navbar-2 button {
    width: 120px;
    white-space: nowrap;
}
main .window-body .navbar .navbar-2 input {
    width: 710px;
}

main .window-body .navbar button {
    box-shadow: none;
    padding: 4px;
    min-width: 0;
}
main .window-body .navbar button:hover {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -1px -1px grey,inset 1px 1px #dfdfdf;
}
main .window-body .navbar button:active {
    box-shadow: inset 1px 1px #0a0a0a,inset -1px -1px #fff,inset 1px 1px grey,inset -1px -1px #dfdfdf;
}